USER_SERVICE__DB__URL=postgresql://postgres:wiolet40@localhost:5432/djangousers
USER_SERVICE__DB__ECHO=0
USER_SERVICE__GOOGLE_CLIENT_ID=your_google_client_id
USER_SERVICE__DEBUG=True
USER_SERVICE__GOOGLE_CLIENT_SECRET=your_google_client_secret
USER_SERVICE__SECRET_KEY=your_secret_key
USER_SERVICE__OAUTH_REDIRECT_URI=http://127.0.0.1:8006/api/v1/oauth/callback/google
USER_SERVICE__AUTH_SERVICE_URL=http://127.0.0.1:8005